In [1]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '/Users/kuznetsovnikita/recommendations/src/data')

from get_users_info import *
from get_brand_category_info import *
from get_preference_matrix import *

In [9]:
# инфо по пользователям
# тут чекнуть корректность
users_info, cart_full = get_users_info(to_csv=False)

/var/folders/k_/q2nqvc5s4b9g7bf4ljty8wd00000gn/T/ipykernel_53997/2533071122.py:3: DtypeWarning: Columns (7,8,9) have mixed types.Specify dtype option on import or set low_memory=False.
  users_info, cart_full = get_users_info(to_csv=False)

In [3]:
# инфо по бренду/группе категорий
brand_cat = get_brand_category_info(to_csv=False)

In [4]:
# матрица предпочтений
# тут тоже чекнуть
pref_matrix = get_pref_matrix(to_csv=False)

In [10]:
users_info

,views,products,products_quan,carts,carts_quan,wish,wish_quan
16177636401065163291,256,"[2000000076294, 2000000051208, 2000000051208, ...",115.0,NaN,NaN,NaN,NaN
1634376464775853163,85,"[200000010117, 2000000101194, 2000000099705, 2...",53.0,NaN,NaN,NaN,NaN
1630659159952734277,252,"[2000000090184, 2000000107646, 2000000107752, ...",41.0,NaN,NaN,NaN,NaN
1630833206792953159,655,"[2000000094601, 2000000108322, 2000000109251, ...",65.0,NaN,NaN,NaN,NaN
16343770561049399550,1,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1642447316474164672,2,NaN,NaN,NaN,NaN,NaN,NaN
1642447358562041571,1,[2000000030494],1.0,NaN,NaN,NaN,NaN
1642447363962303438,3,NaN,NaN,NaN,NaN,NaN,NaN
1642447799378107767,3,NaN,NaN,NaN,NaN,NaN,NaN
1642447825323903657,3,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cart_full.loc[(~cart_full.ym_client_id.isin(['null','','0']))&(cart_full.type=='C')
             ].groupby('ym_client_id').agg({'product_id':[list,'count']})['product_id']['list']

ym_client_id
1586517765142996502                   [2000000109862]
1589202270114292505    [2000000111575, 2000000098364]
1590659511507898718                   [2000000114750]
1591701810230119000                   [2000000104508]
1592946946186677299                   [2000000072081]
                                    ...
1640025326513870565                   [2000000076294]
1640029182550041790                   [2000000064703]
1640037732927270538                   [2000000082677]
1640037769919367583                   [2000000121505]
1640068040592070641                   [2000000028699]
Name: list, Length: 355, dtype: object

In [11]:
users_info.loc[users_info.wish_quan>0]

,views,products,products_quan,carts,carts_quan,wish,wish_quan
1634332198261008216,41,"[2000000101712, 2000000107707, 2000000107707, ...",17.0,NaN,NaN,"[2000000104584, 2000000082981, 2000000000299, ...",7.0
162721092532695845,339,"[2000000072418, 2000000072418, 2000000072425, ...",56.0,[2000000073354],1.0,"[2000000039251, 2000000038278, 2000000038971, ...",15.0
1632300479943213942,574,"[2000000018386, 2000000093383, 2000000058443, ...",90.0,"[2000000045061, 2000000104294, 2000000118710, ...",7.0,"[2000000058719, 2000000099644, 2000000101132, ...",107.0
1633957867872449082,98,"[2000000107653, 2000000090139, 2000000099767, ...",30.0,"[2000000038858, 2000000105994]",2.0,"[2000000049885, 2000000107653, 2000000062402, ...",5.0
1594795295110685242,927,"[2000000104386, 2000000097374, 200000002396, 2...",348.0,NaN,NaN,"[2000000071398, 2000000087337, 2000000082493, ...",14.0
...,...,...,...,...,...,...,...
1642338308358845418,9,"[2000000118826, 2000000011431, 2000000011431]",3.0,NaN,NaN,"[2000000028453, 2000000118567, 2000000068855, ...",6.0
1642342296739637450,70,"[2000000121703, 2000000121482, 2000000120157, ...",21.0,NaN,NaN,"[2000000067841, 2000000122304, 2000000097497]",3.0
1642344283651098454,123,"[200000010737, 2000000052434, 2000000120652, 2...",27.0,NaN,NaN,"[2000000052434, 2000000107370, 2000000120652]",3.0
1642351927202204392,11,"[2000000111698, 2000000123899]",2.0,NaN,NaN,[2000000111698],1.0
1642353445691141702,108,"[2000000067681, 2000000113531, 2000000122199, ...",41.0,NaN,NaN,"[2000000063010, 2000000109824, 2000000067995, ...",9.0