In [1]:
import sys
# insert at 1, 0 is the script path (or '' in REPL)
sys.path.insert(1, '/Users/kuznetsovnikita/recommendations/src/data')

from get_users_info import *
from get_brand_category_info import *
from get_preference_matrix import *

In [2]:
# инфо по пользователям
# тут чекнуть корректность
users_info, cart_full = get_users_info(to_csv=False)

/var/folders/k_/q2nqvc5s4b9g7bf4ljty8wd00000gn/T/ipykernel_53997/2533071122.py:3: DtypeWarning: Columns (7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  users_info, cart_full = get_users_info(to_csv=False)

In [3]:
# инфо по бренду/группе категорий
# brand_cat = get_brand_category_info(to_csv=False)

In [4]:
# матрица предпочтений
# тут тоже чекнуть
# pref_matrix = get_pref_matrix(to_csv=False)

In [5]:
users_info

,views,products,products_quan,carts,carts_quan,wish,wish_quan
1634376464775853163,85,"[2000000084909, 200000008451, 2000000073705, 2...",53.0,NaN,NaN,NaN,NaN
16177636401065163291,188,"[2000000076294, 2000000051208, 2000000011011, ...",77.0,NaN,NaN,NaN,NaN
1630659159952734277,252,"[2000000107752, 2000000095073, 2000000104294, ...",41.0,NaN,NaN,NaN,NaN
1630833206792953159,458,"[2000000094601, 2000000108322, 2000000109251, ...",55.0,NaN,NaN,NaN,NaN
163386231741398227,123,"[2000000082929, 200000007531, 2000000061689, 2...",35.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
1640084780493319261,1,NaN,NaN,NaN,NaN,NaN,NaN
1640085005597855828,1,[2000000038773],1.0,NaN,NaN,NaN,NaN
1640085155553504346,3,NaN,NaN,NaN,NaN,NaN,NaN
1640085294981803057,1,[200000010331],1.0,NaN,NaN,NaN,NaN
1640085411629069335,1,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
cart_full.loc[(~cart_full.ym_client_id.isin(['null','','0']))&(cart_full.type=='C')
             ].groupby('ym_client_id').agg({'product_id':[list,'count']})['product_id']['list']

ym_client_id
1586517765142996502                   [2000000109862]
1589202270114292505    [2000000111575, 2000000098364]
1590659511507898718                   [2000000114750]
1591701810230119000                   [2000000104508]
1592946946186677299                   [2000000072081]
                                    ...
1640025326513870565                   [2000000076294]
1640029182550041790                   [2000000064703]
1640037732927270538                   [2000000082677]
1640037769919367583                   [2000000121505]
1640068040592070641                   [2000000028699]
Name: list, Length: 355, dtype: object

In [8]:
users_info.loc[users_info.wish_quan>0]

,views,products,products_quan,carts,carts_quan,wish,wish_quan
1634332198261008216,41,"[2000000101712, 2000000107707, 2000000107707, ...",17.0,NaN,NaN,"[2000000082981, 2000000000299, 2000000064789, ...",6.0
162721092532695845,314,"[2000000072418, 2000000072418, 2000000072425, ...",49.0,[2000000073354],1.0,"[2000000039251, 2000000040868, 2000000038278, ...",16.0
1633957867872449082,98,"[2000000090139, 2000000040059, 2000000107653, ...",30.0,[2000000105994],1.0,"[2000000049885, 2000000107653, 2000000090139]",3.0
1594795295110685242,742,"[200000002396, 2000000097374, 200000003203, 20...",276.0,[2000000113975],1.0,"[2000000071398, 2000000087337, 2000000089102, ...",6.0
1629998179480544208,316,"[200000009904, 200000009904, 2000000110073, 20...",41.0,NaN,NaN,"[2000000028453, 2000000068855, 2000000071107, ...",4.0
...,...,...,...,...,...,...,...
163975102192678595,9,[2000000116235],1.0,NaN,NaN,[2000000099729],1.0
1639873743925340334,170,"[2000000063348, 2000000086293, 2000000011011, ...",50.0,[2000000096919],1.0,"[2000000111223, 2000000103471, 2000000116532, ...",16.0
1640003600691316825,53,"[200000009061, 2000000018614, 2000000064727, 2...",16.0,NaN,NaN,"[2000000088013, 2000000121789, 2000000018614, ...",4.0
1640020938562103710,33,"[2000000118284, 200000011631, 2000000114156, 2...",10.0,NaN,NaN,"[2000000115368, 2000000119434, 2000000115177, ...",9.0
1640026408680330557,6,[2000000120683],1.0,NaN,NaN,[2000000120683],1.0

In [7]:
cart_full

,Unnamed: 0,_id,user_id,timestamp,session_id,type,product_id,price,ip_address,order_id,first_datetime,ym_client_id,external_id,ga_client_id,id,categ
0,0,7.332051e+07,3.682828e+09,2021-10-06 14:50:31,th1q3pj8mkt5m9hq5g3nt2pje6,C,2000000049984,2130,51.222.21.205,0,2021-10-06 14:50:31,,NaN,NaN,2.000000e+12,parka
1,1,3.763644e+09,1.445814e+09,2021-10-06 21:02:04,f2358b22e664ecb4f0591959d2064da9-1-C,C,2000000084626,3000,188.170.81.73,0,2021-10-06 21:02:04,1633543275399687776,NaN,NaN,2.000000e+12,scarf
2,2,3.772515e+09,1.610508e+08,2021-10-06 13:50:36,b619e5be23350f2be133a39c170d19e5-1-C,C,2000000026770,35000,37.204.189.236,0,2021-10-06 13:50:09,1633515057519265540,NaN,NaN,2.000000e+12,blazer
3,3,3.169127e+09,2.033750e+09,2021-10-06 23:25:53,ece7af076163e4c05c5ab5d00c526abf-1-C,W,2000000097541,0,176.59.56.124,0,2021-10-06 23:16:34,1633548670650787760,NaN,NaN,2.000000e+12,overalls
4,4,4.210238e+09,1.689557e+09,2021-10-06 23:10:12,88440fd87c4ca272a1ba65f5fdf6d493-1-C,C,2000000106342,22000,5.18.218.159,0,2021-10-06 23:00:48,1633549097582231093,NaN,NaN,2.000000e+12,t-shirt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2046,2052,4.276705e+09,1.145100e+04,2021-11-12 21:28:36,2b4c52aaf3980deec52a8781ca5a974b-1-C,W,2000000018447,0,217.66.159.36,0,2021-11-12 21:28:36,,000004886,GA1.2.1338741156.1636741628,2.000000e+12,sweater
2047,2053,4.283223e+09,9.970000e+02,2021-12-19 17:25:45,3a1ce4793003927ed9f6ae43cf9f8ec5-1-C,W,2000000046327,0,46.39.45.55,0,2021-09-24 20:06:33,16349384281025191255,000002661,GA1.2.1656933924.1637609928,2.000000e+12,jeans
2048,2054,4.291656e+09,1.135700e+04,2021-11-26 19:49:57,1183d0e5ecd451fa58cbb90c3eef4a84-1-C,W,2000000018416,0,188.255.29.239,0,2021-11-16 01:07:28,1637944555427742565,000004628,GA1.2.1201643431.1637014036,2.000000e+12,coat
2049,2055,4.292297e+09,1.207600e+04,2021-12-12 00:38:10,4eef90fb7c0268e0b450307a75ece5fe-1-C,W,2000000091587,0,46.188.121.49,0,2021-12-12 00:24:01,1639244204412542966,000005975,GA1.2.1946954399.1639244203,2.000000e+12,shoes
2050,2056,4.294014e+09,9.970000e+02,2021-12-19 17:25:45,3a1ce4793003927ed9f6ae43cf9f8ec5-1-C,W,2000000090177,0,46.39.45.55,0,2021-11-11 18:52:02,16349384281025191255,000002661,GA1.2.1656933924.1637609928,2.000000e+12,t-shirt