In [22]:
import numpy as np
import pandas as pd
import datetime


df_heat = pd.read_json('/Users/kuznetsovnikita/recommendations/data/external/cs_cart_heats.json')
cart = pd.read_json('/Users/kuznetsovnikita/recommendations/data/external/cs_cart_carts.json')
users = pd.read_json('/Users/kuznetsovnikita/recommendations/data/external/сs_cart_users.json')
cart.groupby('product_id')['user_id'].count().sort_values()

product_id
2000000073651    1
2000000087078    1
2000000087023    1
2000000086972    1
2000000086958    1
                ..
2000000059587    1
2000000059440    1
2000000059433    1
2000000059402    1
                 6
Name: user_id, Length: 1443, dtype: int64

In [18]:
# процент активных пользователей
act_users = users.loc[users.check_week == 'Заходил в течении недели'].shape[0]/users.shape[0]

In [57]:
vygruz = pd.read_csv('/Users/kuznetsovnikita/PycharmProjects/pythonProject1/downloaded_file1.csv', sep=',',converters={'id':str})
vygruz.cumdate = pd.to_datetime(vygruz.cumdate, infer_datetime_format=True)
vygruz.loc[:,['days_in_stock']] = (pd.to_datetime('2021-10-10')-vygruz.cumdate).dt.days
vygruz.loc[:,['discount']] =np.where(vygruz['Цена со скидкой'].isna(), 0,(vygruz['Цена шоурум']-vygruz['Цена со скидкой'])/vygruz['Цена шоурум'])
vygruz = vygruz.loc[vygruz.id != '']
vygruz.id = vygruz.id.replace(' ','',regex=True).astype(int)

# vygruz.loc[~vygruz['Цена со скидкой'].isna()].loc[:,['Цена со скидкой','Цена шоурум','discount']]

In [51]:
## потоварная статистика
products = df_heat.loc[(df_heat.product_id != 0)&(df_heat.product_id != 16777215)&(products['product_id'].apply(type) == int)]
rating = products.groupby(['product_id'])['_id'].count().reset_index().sort_values('_id', ascending=False)
rating

         product_id  _id
1024  2000000077789  142
933   2000000073651  108
244   2000000030623   95
1539  2000000097312   88
506   2000000053301   69
...             ...  ...
1412  2000000092126    1
672   2000000062778    1
671   2000000062693    1
1714  2000000101361    1
1086  2000000081052    1

[2172 rows x 2 columns]

In [34]:
df_heat.loc[df_heat.product_id != 0]

,_id,ym_client_id,user_id,current_url,timestamp,product_id
2,3,1.615201e+18,0,https://spin4spin.com/odezhda/futbolki-i-longs...,{'$date': '2021-10-05T16:56:44Z'},16777215
6,7,1.615201e+18,0,https://spin4spin.com/odezhda/futbolki-i-longs...,{'$date': '2021-10-05T16:57:37Z'},16777215
16,17,1.629448e+18,0,https://spin4spin.com/odezhda/rubashki/shirt/b...,{'$date': '2021-10-05T17:05:57Z'},16777215
30,31,1.633443e+18,0,https://spin4spin.com/odezhda/futbolki-i-longs...,{'$date': '2021-10-05T17:09:45Z'},16777215
31,32,1.633443e+17,0,https://spin4spin.com/odezhda/pidzhaki-i-zhile...,{'$date': '2021-10-05T17:10:05Z'},16777215
...,...,...,...,...,...,...
47636,51840,1.634644e+18,0,https://spin4spin.com/odezhda/shtany-i-bryuki/...,{'$date': '2021-10-19T14:52:55Z'},2000000091464
47646,51850,1.608989e+18,0,https://spin4spin.com/odezhda/futbolki-i-longs...,{'$date': '2021-10-19T14:54:30Z'},2000000104409
47648,51852,1.634644e+18,0,https://spin4spin.com/odezhda/denim/jeans/dark...,{'$date': '2021-10-19T14:55:07Z'},2000000066554
47653,51857,1.634644e+18,0,https://spin4spin.com/odezhda/palto-i-plaschi/...,{'$date': '2021-10-19T14:56:41Z'},2000000105345
47656,51860,1.634645e+18,0,https://spin4spin.com/obuv/krossovki-i-kedy/sn...,{'$date': '2021-10-19T15:00:57Z'},2000000107585

In [60]:
rating.merge(vygruz, how='left', left_on='product_id', 
             right_on='id').loc[:,['id','_id','days_in_stock','Цена шоурум','discount','categ','cond']].to_csv('rating_for_lm.csv')